@import '../../constants/constants.scss'; 
@import '../../constants/mixins.scss';

.form {
  position: relative;
  z-index: 99;
  background-color: $fourth-color;
  border: 2px solid $first-color;
  border-radius: 10px;
  box-shadow: inset 3px 3px 15px $first-color;
  position: absolute;
  top: 10%;
  right: 17%;
  width: 300px;
  height: 400px;
  padding: 20px;
}
