@import '../../constants/constants.scss';

.title {
  margin: 0 auto;
  text-align: center;
}

.name-input {
  border-radius: 40px;
}

.button {
  color: $text-color;
  background-color: $first-color;
  border: 2px solid $third-color;
}